@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --beige:    #faf4f4;
    --yellow:     #e86f2b;
    --light-yellow:#e8c52b;
    --orange:     #cc4115;
    --red:        #ba2934;
    --pink:       #da3552;
    --purple:     #ba175b; /* hsl(335,78,41) */ 
    --dark-purple: #a70f4e;
    --darkest-purple: #770434;
    --black:      #222222;
    --dark-grey:  #817777;
    --grey:       #B1A9A9;
    --light-grey: #ebe4e4;
    --off-white:  #f4f4f4;  
}

body {
    font-family: 'Metropolis', sans-serif;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--red);
    height: 25px;
    width: 10px;
    border-radius: 10px;
}

input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--red);
    height: 25px;
    width: 10px;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--yellow);
    border-radius: 15px;
}

#floating-slider-container {
    display: absolute;
    position: sticky;
    top: 50%;
}
  
#slider {
    height: 300px;
    margin-bottom: 10px;
    background: #c0392b;
}
  
.value-bubble {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}
